$black: #2F3136;
$grey: #36393F;
$light-grey: #43454B;
$white: #fff;
$black-border: #222427;
$hover-grey: #dcddde;
$channel: #8e9297;
$hover-bg-channel: rgba(79,92,82,0.34);
$hover-bg-info: rgba(79,92,82,0.16);
$icons: #b9bbbe;
$input-bg: #40444b;
$border-default-message: hsla(0,0%,100%,0.06);
$hashtag-bg: #4F545C;
$link: #00b0f4;

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700;900&display=swap');

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin xs-breakpoint() {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin sm-breakpoint() {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md-breakpoint() {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg-breakpoint() {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl-breakpoint() {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xxl-breakpoint() {
  @media (min-width: $xl) {
    @content;
  }
}
