.home {
  display: flex;
}

body {
  font-family: 'Catamaran', sans-serif;
}

.bold {
  font-weight: bold;
  color: $white;
}

.emoji-s {
  height: 22px;
}

.emoji-b {
  height: 48px;
}

a {
  color: $link;
}

.show {
  display: block !important;
}
