* {
  scroll-behavior: smooth;
}

.home {
  display: flex;
}

body {
  font-family: 'Catamaran', sans-serif;
}

.bold {
  font-weight: bold;
  color: $white;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.emoji-s {
  height: 22px;
}

.emoji-b {
  height: 48px;
}

a {
  color: $link;
}

.show-nav {
  transform: translateX(0) !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.hidden-desk {
  @include sm-breakpoint () {
    display: none;
  }
}

details summary {
  outline: none;
}
