@import url(https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700;900&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home {
  display: flex;
}

body {
  font-family: "Catamaran", sans-serif;
}

.bold {
  font-weight: bold;
  color: #fff;
}

.emoji-s {
  height: 22px;
}

.emoji-b {
  height: 48px;
}

a {
  color: #00b0f4;
}

.left {
  width: 240px;
  height: 100vh;
  background-color: #2F3136;
  overflow-y: scroll;
  overflow-x: hidden;
}
.left .info {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid #222427;
  background-color: #2F3136;
  z-index: 100;
}
.left .info .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left .info .layer:hover {
  background-color: rgba(79, 92, 82, 0.16);
}
.left .info h1 {
  padding: 20px;
  color: #fff;
  font-weight: bold;
}
.left .categories {
  margin-top: 20px;
}
.left .categories a {
  color: #8e9297;
  text-decoration: none;
}
.left .categories .category {
  margin: 20px 10px;
  color: #8e9297;
}
.left .categories .category summary {
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.left .categories .category summary:hover {
  color: #dcddde;
}
.left .channel {
  display: flex;
  padding: 7px 0;
  margin: 1px 0 2px 0;
  cursor: pointer;
  border-radius: 5px;
}
.left .channel:hover {
  color: white;
  background-color: rgba(79, 92, 82, 0.34);
}
.left .channel .hashtag {
  width: 15px;
  margin: 0 5px 0 15px;
}
.left .channel_active {
  background-color: rgba(79, 92, 82, 0.34);
  color: #fff;
}

.right {
  width: calc(100vw - 240px);
  background-color: #36393F;
  height: 100vh;
  overflow: hidden;
}
.right .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.right .content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #222427;
}
.right .content_header--name {
  display: flex;
}
.right .content_header--name img {
  margin: 0 10px 0 20px;
  height: 20px;
}
.right .content_header--name h2 {
  padding-top: 2px;
  color: #fff;
  font-weight: bold;
}
.right .content_header--icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 125px;
  width: 100%;
}
.right .content_header--icons img {
  height: 20px;
}
.right .content_room {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 20px;
  height: calc(100% - 125px);
  overflow: hidden scroll;
}
.right .content_room--default {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 0 20px;
  height: 140px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  color: #fff;
}
@media (min-width: 768px) {
  .right .content_room--default {
    height: 130px;
  }
}
.right .content_room--default div {
  width: 70px;
  height: 70px;
  background-color: #4F545C;
  border-radius: 50%;
  position: relative;
}
.right .content_room--default div img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  transform: translate(-50%, -50%);
}
.right .content_room--default h2 {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 768px) {
  .right .content_room--default h2 {
    font-size: 30px;
  }
}
.right .content_room--default p {
  margin-left: 5px;
  color: #8e9297;
}
.right .content_room--message {
  display: flex;
  margin: 20px 20px 0;
}
.right .content_room--message .avatar {
  border-radius: 50%;
  height: 40px;
  margin-right: 15px;
}
.right .content_room .message_content {
  color: #dcddde;
  line-height: 20px;
}
.right .content_room .message_content--info {
  font-weight: bold;
  margin-bottom: 3px;
  color: #fff;
}
.right .content_room .message_content--info span {
  font-weight: normal;
  color: #8e9297;
  font-size: 13px;
  margin-left: 5px;
}
.right .content_input {
  height: 75px;
  margin: 0 20px;
  color: #8e9297;
}
.right .content_input--box {
  display: flex;
  justify-content: space-between;
  height: 45px;
  background-color: #40444b;
  border-radius: 10px;
}
.right .content_input .input_box--left {
  display: flex;
  align-items: center;
}
.right .content_input .input_box--left img {
  height: 20px;
  margin: 0 15px;
}
.right .content_input .input_box--icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 125px;
  width: 100%;
}
.right .content_input .input_box--icons img {
  height: 20px;
}
